<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>F5</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/">
                    <i class="fa fa-play-circle"></i> <span class="light">F5</span>
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                   <!--  <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li> -->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class='col-md-6'>
               <a style="text-decoration: none;" href=<%=data.link%>  >
                     <h1><%=data.loc%></h1>
                </a>
                <p><b>Khoảng cách: </b><span id="distance"></span></p>
                <p><b>Thời gian: </b><span id="duration"></span></p>
            </div>
            <div class="col-md-6" id="map" style="text-align:left;margin-top:50px;height:500px;">
            </div>

<!-- <button class="btn btn-info" onclick="drawPoint(105.853277,21.031208,<%=data.lon%>,<%=data.lat%>);">Show road</button> -->
        </div>

        <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- jQuery Version 1.11.1 -->
     <script>
       function myMap() {
          // var myCenter = new google.maps.LatLng(<%=data.lat%>,<%=data.lon%>);
          // var mapCanvas = document.getElementById("map");
          // var mapOptions = {center: myCenter, zoom: 15};
          // var map = new google.maps.Map(mapCanvas, mapOptions);
          // var marker = new google.maps.Marker({position:myCenter});
          // marker.setMap(map);
          // var map = new google.maps.Map(document.getElementById('map'), {
          //       zoom: 8,
          //       center: new google.maps.LatLng(21.027, 105.834)
          // });
          var latSrc = 21.031208;
          var lngSrc = 105.853277;
          var latDes = <%=data.lat%>;
          var lngDes = <%=data.lon%>;
          drawPoint(lngSrc,latSrc,lngDes,latDes);
        }
        // var latSrc = 21.031208;
        // var lngSrc = 105.853277;
        // var latDes = <%=data.lat%> ;
        // var lngDes = <%=data.lon%>;
        function drawPoint(lngSrc,latSrc,lngDes,latDes){
            var pointA = new google.maps.LatLng(latSrc, lngSrc),
                pointB = new google.maps.LatLng(latDes, lngDes),
                myOptions = {
                    zoom: 8,
                    center: pointA
                },
                map = new google.maps.Map(document.getElementById('map'), myOptions),
                // Instantiate a directions service.
                directionsService = new google.maps.DirectionsService,
                directionsDisplay = new google.maps.DirectionsRenderer({
                    map: map
                }),
                markerA = new google.maps.Marker({
                    position: pointA,
                    title: "point A",
                    label: "A",
                    map: map
                }),
                markerB = new google.maps.Marker({
                    position: pointB,
                    title: "point B",
                    label: "B",
                    map: map
                });
            // get route from A to B
            // alert((google.maps.geometry.spherical.computeDistanceBetween(pointA, pointB)/1000).toFixed(2));
            calculateAndDisplayRoute(directionsService, directionsDisplay, pointA, pointB);
        }
        function calculateAndDisplayRoute(directionsService, directionsDisplay, pointA, pointB) {
            directionsService.route({
                origin: pointA,
                destination: pointB,
                avoidTolls: true,
                avoidHighways: false,
                travelMode: google.maps.TravelMode.DRIVING
            }, function (response, status) {
                if (status == google.maps.DirectionsStatus.OK) {
                    directionsDisplay.setDirections(response);
                    $("#distance").text(directionsDisplay.directions.routes[0].legs[0].distance.text);
                    $("#duration").text(directionsDisplay.directions.routes[0].legs[0].duration.text);
                } else {
                    window.alert('Directions request failed due to ' + status);
                }
            });
        }
    </script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5OE62Cn3iG-hleW2aMl51xGQuuUrDykI&libraries=geometry&callback=myMap"></script>
    <script src="../js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>

</body>

</html>